.header {
    grid-area: h;

    display: flex;
    align-items: center;

    background: #ffb593;
}

.logo {
    height: 4rem;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}