*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

.app-wrapper {
  margin-top: 1rem;
  padding: 0 calc(50% - 370px);

  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1rem;
  grid-template-areas: "h h"
                       "n m";
}